.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% + 72px);
    transform: translate(-50%, -50%);
    max-width: 1232px;
    &__inner {
        padding: 36px;
        background-color: transparent;
        border: 1px #D3D7ED solid;
        border-radius: 36px;
        &-row {
            position: relative;
            border-radius: 22px;
            &-wrapper {
                position: relative;
                z-index: 2;
                background-color: $light-gray;
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                padding: 50px 70px;
                box-shadow: -1px 8px 19px 0px #0000000D;
                border-radius: 22px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                background: linear-gradient(181deg, #EDEDEE -12.12%, #D3D7ED 99.15%);
                transform: translate(-50%, -50%);
                border-radius: 22px;
                z-index: 1;
            }
        }
    }
    &Item {
        border-radius: 22px;
        position: relative;
        width: 20%;
        max-width: 198px;
        &__wrapper {
            display: flex;
            align-items: stretch;
            width: calc(80% - 20px);
            .introItem {
                width: calc(30% - 8px);
                margin-right: 18px;
                &:last-child {
                    width: calc(70% - 8px);
                    max-width: 484px;
                    margin: 0;
                }
            }
        }
        &__inner {
            background-color: $light-gray;
            padding: 12px 20px;
            border-radius: 22px;
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .button {
                width: 100%;
                height: 100%;
            }
            p {
                color: $gray;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: calc(100% + 2px);
            height: calc(100% + 2px);
            background: linear-gradient(181deg, #EDEDEE -12.12%, #D3D7ED 99.15%);
            transform: translate(-50%, -50%);
            border-radius: 22px;
            z-index: 1;
        }
    }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
    .intro {

    }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
    .intro {

    }
}
// 1180px
@mixin intro-xlg-xxlg {
    .intro {

    }
}
// 1024px
@mixin intro-lg-xlg {
    .intro {

    }
}
// 930px
@mixin intro-md-lg {
    .intro {
  
    }
}
// 750px
@mixin intro-sm-md {
    .intro {
 
    }
}
// 650px
@mixin intro-sm-md-extra {
    .intro {

    }
}
// 540px
@mixin intro-xsm-sm {
    .intro {

    }
}
// 440px
@mixin intro-xxsm-xsm {
    .intro {

    }
}
.info {
    padding: 10px 0;
    &__inner {
        &-head {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            margin-bottom: 44px;
            &-item {
                padding: 12px 20px;
                border-radius: 22px;
                border: 1px solid #D3D7ED;
                width: 18%;
                max-width: 198px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:last-child {
                    width: calc(82% - 24px);
                    max-width: 934px;
                }
                .button {
                    background-color: #F6F6F6;
                    width: 100%;
                }
                p {
                    color: $gray;
                }
            }
        }
        &-row {
            display: flex;
            justify-content: space-between;
        }
        &-col {
            width: calc(50% - 15px);
            max-width: 558px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 33px 45px 28px 28px;
            background-color: $white-2;
            border-radius: 12px;
            box-shadow: -1px 8px 19px 0px #6F6F6F0A;
            position: relative;
            &:last-child {
                background-color: transparent;
                box-shadow: unset;
            }
            &-bg {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 100%;
                pointer-events: none;
                img { 
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
        }
    }
    &Item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        &__price {
            text-align: end;
            h4 {
                margin-bottom: 4px;
            }
        }
        p {
           color: $primary; 
        }
    }
}
.borrow {
    padding: 25px 0;
    &__inner {
        &-row {
            display: flex;
            justify-content: space-between;
        }
        &-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(49% - 15px);
            max-width: 553px;
            background-color: $white;
            border-radius: 19px;
            box-shadow: -1px 8px 19px 0px #6F6F6F0A;
            &:first-child {
                background-color: transparent;
                width: calc(51% - 15px);
                max-width: 568px;
                box-shadow: unset;
                .borrow__inner-col-top {
                    box-shadow: -1px 8px 19px 0px #6F6F6F0A;
                }
                .borrow__inner-col-bottom {
                    box-shadow: -1px 8px 19px 0px #6F6F6F0A;
                }
            }
            &-top {
                display: flex;
                flex-direction: column;
                padding: 33px 35px;
                background-color: $white;
                border-radius: 16px;
                margin-bottom: 22px;
                h4 {
                    margin-bottom: 64px;
                }
            }
            &-bottom {
                display: flex;
                flex-direction: column;
                padding: 33px 35px;
                background-color: $white;
                border-radius: 16px;
            }
        }
    }
    &Item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 38px;
        &:last-child {
            margin-bottom: 0;
            align-items: flex-end;
        }
        &__side {
            width: calc(47% - 10px);
            h4 {
                margin-bottom: 17px;
            }
        }
        > h4 {
            width: calc(53%- 10px);
        }
    }
    &Line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        &__side {
            display: flex;
            align-items: center;
        }
    }
}
.about {
    padding: 10px 0;
    .auto__container {
        max-width: 1000px;
    }
    &__inner {
        &-row {
            display: flex;
            justify-content: space-between;

        }
        &-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(50% - 7px);
            max-width: 450px;
            background-color: $white;
            border-radius: 12px;
            padding: 24px 35px 28px;
            .button {
                font-size: 9px;
                line-height: 11px;
                padding: 4px 8px;
                border-radius: 5px;
                font-weight: 500;
                &.uniq {
                    color: #4B4B4B;
                    box-shadow: unset;
                    font-weight: 400;
                }
            }
            &-top {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 12px;
                &.big {
                    margin-bottom: 20px;
                }
                h4 {
                    display: flex;
                    align-items: flex-end;
                    small {
                        font-size: 10px;
                        line-height: 12px;
                        color: #CCCCCC;
                        margin-left: 6px;
                    }
                }
                & > .button {
                    padding: 7px 20px;
                    font-size: 10px;
                    line-height: 12px;
                }
                &-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    width: 70%;
                    .button {
                        padding: 7px 20px;
                        font-size: 10px;
                        line-height: 12px;
                        width: 30%;
                        max-width: 74px;
                        border-radius: 11px;
                        &:first-child {
                            margin-right: 8px;
                            width: calc(70% - 8px);
                            max-width: 158px;
                        }
                    }
                }
            }
            & > p {
                color: #BABABA;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                border: 0.5px solid #ECECEC;
                margin-bottom: 20px;
                border-radius: 5px;
            }
            & > h4 {
                margin-bottom: 18px;
            }
            & > .button {
                padding: 8px 20px;
                font-size: 10px;
                line-height: 12px;
                font-weight: 500;
                border-radius: 5px;
            }
        }
    }
    &Item {
        padding: 10px 12px;
        border: 0.5px solid #ECECEC;
        border-radius: 7px;
        margin-bottom: 10px;
        position: relative;
        &__arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: #D9D9D9;
            border-radius: 50%;
            transform: translateX(-50%);
            z-index: 4;
            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                width: 100%;
                max-width: 8px;
            }
        }
        .aboutInfo {
            margin: 10px 0 0 0;
            color: $gray-2;
        }
        > p {
            margin-bottom: 9px;
        }
        &__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &-side {
                display: flex;
                align-items: center;
                p {
                    margin-right: 12px;
                }
            }
            p {
                display: flex;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 13px;
                    height: 13px;
                    margin-right: 6px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    &Info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $light-gray;
        padding: 8px 12px;
        border-radius: 7px;
        margin: 9px 0;
    }
}