// colors
$primary: #B1B1B1;
$main: #0029FF;
$black: #000;
$white: #fff;
$black-2: #2D2D2D;
$white-2: #FDFDFD;
$light-gray: #F1F1F1;
$light-gray-2:#F5F5F5;
$gray: #8F8F8F;
$gray-2: #787878;
$gray-3:#B5B5B5;
$gray-5:#D9D9D9;
$gray-6:#AEAEAE;
$gray-7:#BABABA;
$gray-8:#e3e3e3;
$gray-9:#F9F9F9;
$gray-10:#DDDDDD;
$gray-11:#BCBCBC;



$blue:#0c00ff;
$violet:#D3D7ED;

// fonts
$rubik: 'Rubik', sans-serif;
$inter: 'Inter', sans-serif;



