// colors
$primary: #B1B1B1;
$main: #0029FF;
$black: #000;
$white: #fff;
$black-2: #2D2D2D;
$white-2: #FDFDFD;
$light-gray: #F1F1F1;
$light-gray-2:#F5F5F5;
$gray: #8F8F8F;
$gray-2: #787878;
$gray-3:#B5B5B5;
// fonts
$rubik: 'Rubik', sans-serif;
$inter: 'Inter', sans-serif;



