@import "./fonts/stylesheet.css";
html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323234;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  color: #2D2D2D;
  line-height: 16px;
  font-weight: 400;
  background: #F1F1F1;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #B1B1B1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

ul li {
  list-style: none;
}

.auto__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

p.sm {
  font-size: 10px;
  line-height: 12px;
}
p.big {
  font-size: 15px;
  line-height: 18px;
}

.main {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}
.main__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  max-height: 900px;
  z-index: -1;
}
.main__bg.right {
  left: unset;
  right: 0;
}
.main__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0029FF;
  border-radius: 11px;
  padding: 10px 23px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}
.button.uniq {
  border-radius: 14px;
  padding: 13px 47px;
  background-color: #F1F1F1;
  color: #2D2D2D;
  font-size: 15px;
  line-height: 18px;
  -webkit-box-shadow: -1px 8px 19px 0px #0000000d;
          box-shadow: -1px 8px 19px 0px #0000000d;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: sticky;
          animation-name: sticky;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}
.header__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__inner-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
}
.header__inner-logo img {
  width: 100%;
}

@-webkit-keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes sticky {
  0% {
    top: -60px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.nav {
  width: 100%;
}
.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 30px;
  padding: 8px 30px;
  -webkit-box-shadow: -1px 8px 19px 0px #0000000D;
          box-shadow: -1px 8px 19px 0px #0000000D;
}
.nav__inner-links {
  margin-left: 20px;
}
.nav__inner-links a {
  font-size: 14px;
  line-height: 17px;
  margin-right: 50px;
}
.nav__inner-links a:hover {
  opacity: 1;
  color: #2D2D2D;
}
.nav__inner-links a.active {
  font-weight: 600;
  color: #2D2D2D;
}
.nav__inner-links a:last-child {
  margin-right: 0;
}

.burger {
  display: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  position: relative;
  width: 30px;
  height: 30px;
}
.burger:hover {
  opacity: 0.8;
}
.burger::before {
  top: 20%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger span {
  top: 50%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.burger::after {
  bottom: 20%;
  width: calc(100% - 0.4rem);
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.burger.active::before {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger.active span {
  opacity: 0;
}
.burger.active::after {
  bottom: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
  transform: translate(-50%, 50%) rotate(-45deg);
}

.footer {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 4;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.footer__inner-social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 17px;
}
.footer__inner-social a:last-child {
  margin-right: 0;
}
.footer__inner-social a:last-child svg {
  max-width: 21px;
}
.footer__inner-social a svg {
  width: 100%;
  height: 100%;
  max-width: 16px;
  max-height: 16px;
  fill: #787878;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.footer__inner-social a:hover svg {
  fill: #0029FF;
}
.footer__inner p {
  color: #787878;
  font-family: "Inter", sans-serif;
}

.list__inner {
  padding: 120px 0 0 0;
}
.list__inner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.list__inner-buttons .button.uniq {
  font-size: 10px;
  line-height: 11px;
  padding: 8.5px 32.5px;
  border-radius: 11px;
}
.list__inner-buttons .button.uniq:last-child {
  padding: 8.5px 27px;
}
.list__inner-buttons .button.active {
  background-color: #0029FF;
  color: #fff;
}
.list__inner-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list__inner-buttons-wrapper .button {
  margin-right: 10px;
}
.list__inner-buttons-wrapper .button:last-child {
  margin-right: unset;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 12px;
  position: relative;
}
table th {
  font-size: 14px;
  line-height: 16px;
  color: #2D2D2D;
  font-weight: 400;
  padding: 14px 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 2;
}
table thead tr {
  position: relative;
}
table thead tr::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  border-radius: 12px;
  -webkit-box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
          box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
  z-index: 1;
}
table tbody {
  display: table-footer-group;
}
table tbody tr {
  position: relative;
}
table tbody tr::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F5F5F5;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  -webkit-box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
          box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
  z-index: 1;
  pointer-events: none;
}
table tbody td {
  padding: 17px 49px;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #2D2D2D;
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
}
table tbody td span {
  margin-left: 21px;
  color: #B5B5B5;
}
table:after {
  content: "";
  width: 100%;
  height: 100%;
  max-height: 170px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(27.88%, #f1f1f1), color-stop(83.49%, rgba(241, 241, 241, 0.714122)), color-stop(122.1%, rgba(241, 241, 241, 0)));
  background: linear-gradient(0deg, #f1f1f1 27.88%, rgba(241, 241, 241, 0.714122) 83.49%, rgba(241, 241, 241, 0) 122.1%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
table.big thead:first-child th {
  color: #787878;
  padding: 24px 49px 34px;
}
table.big thead:first-child th span {
  display: block;
  color: #2D2D2D;
  margin-top: 15px;
  font-size: 13px;
}
table.big thead:first-child th:first-child {
  padding-left: 99px;
}
table.big thead:first-child tr:after {
  height: calc(100% - 10px);
}
table.big th:first-child {
  padding-left: 99px;
}
table.big td:first-child {
  padding-left: 99px;
}
table.big tbody tr::after {
  background: rgba(255, 255, 254, 0.3);
  -webkit-box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
          box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
}
table.extra::after {
  display: none;
}
table.extra tr::after {
  background-color: #fff;
}
table.extra td {
  padding: 13px 34px;
  position: relative;
  font-weight: 400;
}
table.extra td:last-child {
  padding-right: 27px;
  padding-left: 0;
}
table.extra td:nth-child(2) {
  width: 25%;
}
table.extra td span {
  margin-left: 70px;
}
table.extra td .button {
  padding: 9px 31px;
}
table.extra td h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 15px;
}
table.extra td h4 span {
  margin: 0 22px 0 0;
  width: 26px;
  height: 26px;
  font-weight: 400;
}
table.extra td h4 span img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
table.extra td h4 small {
  font-size: 13px;
  color: #787878;
  margin-left: 11px;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 72px);
  padding: 36px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  max-width: 1232px;
  border: 1px #D3D7ED solid;
  border-radius: 36px;
}
.intro .auto__container {
  padding: 0;
}
.intro__inner {
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 70px;
  -webkit-box-shadow: -1px 8px 19px 0px #0000000D;
          box-shadow: -1px 8px 19px 0px #0000000D;
  border: 1px #D3D7ED solid;
  border-radius: 22px;
}
.introItem {
  border-radius: 22px;
  position: relative;
  margin-right: 18px;
  width: 20%;
  max-width: 198px;
}
.introItem:nth-child(2) {
  width: 50%;
  max-width: 484px;
  justify-self: flex-start;
}
.introItem:last-child {
  margin-right: 0;
}
.introItem__inner {
  background-color: #F1F1F1;
  padding: 12px 20px;
  border-radius: 22px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.introItem__inner .button {
  width: 100%;
  height: 100%;
}
.introItem__inner p {
  color: #8F8F8F;
}
.introItem::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(181deg, #EDEDEE -12.12%, #D3D7ED 99.15%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 22px;
  z-index: 1;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}