h1 {

}

h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        margin-right: 13px;
        img {
            width: 100%;
        }
    }
}

h4 {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        margin-left: 6px;
        img {
            width: 100%;
        }
    }
}
p {
    &.sm {
        font-size: 10px;
        line-height: 12px;
    }
    &.big {
        font-size: 15px;
        line-height: 18px;
    }
}
.main {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-top: 113px;
    &__bg {
        max-width: 1500px;
        position: absolute;
        z-index: -1;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        &-image { 
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: -8%;
            width: 58%;
            height: 100%;
            max-height: 900px;
            transform: translateY(-50%);
            &.right {
                left: unset;
                right: -8%;
            }
            img {
                width: 100%;
            }
        }
    }

}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main;
    border-radius: 11px;
    padding: 10px 23px;
    font-size: 13px;
    line-height: 16px;
    color: $white;
    &.uniq {
        border-radius: 14px;
        padding: 13px 20px;
        background-color: $light-gray;
        color: $black-2;
        font-size: 15px;
        line-height: 18px;
        box-shadow: -1px 8px 19px 0px #0000000D;
    }
    &.user {
        padding: 7px 18px;
        background-color: $white;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 23px;
            height: 23px;
            img {
                width: 100%;
            }
        }
        p {
            color: #B5B5B5;
        }
    }
}
.check {
    margin-right: 15px;
    width: 39px;
    height: 18px;
    background-color: #D9D9D9;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    &__box {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 14px;
            height: 14px;
            background-color: $white;
            border-radius: 50%;
            transition: .2s ease;
        }
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
        &:checked {
            & ~ .check__box {
                &::before {
                    left: unset;
                    right: 2px;
                }
            }
      
        }
    }
}