h1 {
}

h2 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    margin-right: 13px;
    img {
      width: 100%;
    }
  }
}

h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    margin-left: 6px;
    img {
      width: 100%;
    }
  }
}
p {
  &.sm {
    font-size: 10px;
    line-height: 12px;
  }
  &.big {
    font-size: 15px;
    line-height: 18px;
  }
}
.main {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    max-width: 1500px;
    z-index: -1;
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: -8%;
      width: 58%;
      height: 100%;
      max-height: 900px;
      transform: translateY(-50%);
      &.right {
        left: unset;
        right: -8%;
      }
      img {
        width: 100%;
      }
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main;
  border-radius: 11px;
  padding: 10px 23px;
  font-size: 13px;
  line-height: 16px;
  color: $white;
  &.uniq {
    border-radius: 14px;
    padding: 13px 20px;
    background-color: $light-gray;
    color: $black-2;
    font-size: 15px;
    line-height: 18px;
    box-shadow: -1px 8px 19px 0px #0000000d;
  }
  &.user {
    padding: 7px 18px;
    background-color: $white;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      width: 23px;
      height: 23px;
      img {
        width: 100%;
      }
    }
    p {
      color: #b5b5b5;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.check {
  margin-right: 15px;
  width: 39px;
  height: 18px;
  background-color: #d9d9d9;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  &__box {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      background-color: $white;
      border-radius: 50%;
      transition: 0.2s ease;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    &:checked {
      & ~ .check__box {
        &::before {
          left: unset;
          right: 2px;
        }
      }
    }
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 12px;
  position: relative;
  white-space: nowrap;
  th {
    font-size: 14px;
    line-height: 16px;
    color: $black-2;
    font-weight: 400;
    padding: 14px 49px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  thead {
    tr {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $white;
        top: 0;
        left: 0;
        border-radius: 12px;
        box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
        z-index: 1;
      }
    }
  }
  tbody {
    display: table-footer-group;
    tr {
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $light-gray-2;
        bottom: 0;
        left: 0;
        border-radius: 12px;
        box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
        z-index: 1;
        pointer-events: none;
      }
    }
    td {
      padding: 17px 49px;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: $black-2;
      margin-bottom: 12px;
      position: relative;
      z-index: 2;
      span {
        margin-left: 21px;
        color: $gray-3;
      }
    }
  }
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    max-height: 170px;
    background: linear-gradient(
      0deg,
      #f1f1f1 27.88%,
      rgba(241, 241, 241, 0.714122) 83.49%,
      rgba(241, 241, 241, 0) 122.1%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
  &.big {
    thead {
      &:first-child {
        th {
          color: $gray-2;
          padding: 24px 49px 34px;
          h6 {
            p {
              display: inline-block;
              text-align: center;
              span {
                display: block;
                margin-top: 15px;
                font-size: 13px;
                color: $black-2;
              }
            }
          }
          &:first-child {
            padding-left: 99px;
          }
        }
        tr {
          &:after {
            height: calc(100% - 10px);
          }
        }
      }
    }
    th {
      &:first-child {
        padding-left: 99px;
      }
    }
    td {
      &:first-child {
        padding-left: 99px;
      }
    }
    tbody {
      tr {
        &::after {
          background: rgba(255, 255, 254, 0.3);
          box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
        }
      }
    }
  }
  &.extra {
    &::after {
      display: none;
    }
    tr {
      &::after {
        background-color: $white;
      }
    }
    td {
      padding: 13px 34px;
      position: relative;
      font-weight: 400;
      &:last-child {
        padding-right: 27px;
        padding-left: 0;
      }
    

      span {
        margin-left: 70px;
      }
      .button {
        padding: 9px 31px;
      }
      h4 {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 15px;
        span {
          margin: 0 22px 0 0;
          width: 26px;
          height: 26px;
          font-weight: 400;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        small {
          font-size: 13px;
          color: $gray-2;
          margin-left: 11px;
        }
      }
    }
  }
  &.sm{
    
  }
}

h6 {
  font-size: 14px;
  line-height: 16px;
}
