.list {
  &__inner {
    padding: 7px 0 0 0;
    &-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 15px;
      .button {
        font-size: 10px;
        line-height: 12px;
        padding: 8px 26px;
        border-radius: 11px;
        &.uniq {
          background-color: #f6f6f6;
          color: $primary;
        }
      }
      &-wrapper {
        display: flex;
        align-items: center;
        .button {
          margin-right: 10px;
          padding: 8px 32px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-main {
      margin: 0;
      height: calc(100vh - 160px);
      overflow-y: auto;
      &.sm {
        height: calc(100vh - 210px);
      }
      &::-webkit-scrollbar {
        display: none;
      }
      &-wrapper {
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 40%;
          max-height: 170px;
          background: linear-gradient(
            0deg,
            #f1f1f1 27.88%,
            rgba(241, 241, 241, 0.714122) 83.49%,
            rgba(241, 241, 241, 0) 122.1%
          );
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 3;
          pointer-events: none;
        }
      }
    }
    &.staking {
      padding: 25px 0 0 0;
    }
    &.gauges {
      padding: unset;
    }
  }
}
// 750px
@mixin list-sm-md {
  .list {
    &__inner {
      &-main {
      }
    }
  }
}
// 650px
@mixin list-sm-md-extra {
  .list {
    &__inner {
      padding: 2px 0 0;
      &.gauges {
        padding: 12px 0 0;
      }
      &-buttons {
        margin-bottom: 30px;
      }
      &-main {
        height: auto;

        &-wrapper {
          &:after {
            display: none;
          }
        }
      }
    }
  }
}

// 540px
@mixin list-xsm-sm {
  .list {
    &__inner {
      &-buttons {
        margin-bottom: 31px;
        .button {
          padding: 8px 17px;
          border-radius: 11px;
          &.uniq {
            padding: 8px 20px;
          }
        }
        &-wrapper {
          .button {
            margin-right: 5px;
            &.uniq {
              padding: 8px 20px;
            }
          }
        }
      }
      &-main {
        margin: unset;
      }
    }
  }
}

// 380px
@mixin list-sm {
  .list {
    &__inner {
      &-buttons {
        margin-bottom: 25px;
        &-wrapper {
          .button {
            padding: 6px 13px;
            font-size: 9px;
            line-height: 12px;
            &.uniq {
              padding: 6px 15px;
              font-size: 9px;
              line-height: 12px;
            }
          }
        }
        .button {
          &.uniq {
            &.sm {
              font-size: 9px;
              line-height: 12px;
              padding: 6px 15px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

