.list {
  &__inner {
    padding: 7px 0 0 0;
    &-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 12px;
      .button {
        font-size: 10px;
        line-height: 12px;
        padding: 8px 26px;
        border-radius: 11px;
        &.uniq {
          background-color: #F6F6F6;
          color: $primary;
        }
      }
      &-wrapper {
        display: flex;
        align-items: center;
        .button {
          margin-right: 10px;
          padding: 8px 32px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    &-main {
      overflow: auto;
      margin: -12px 0;
    }
    &.staking {
      padding: 25px 0 0 0;
    }
    &.gauges {
      padding: unset;
    }
  }
}
// 540px
@mixin list-xsm-sm {
  .list {
    &__inner {
      &-buttons {
        .button {
          padding: 8px 17px;
          border-radius: 11px;
          &.uniq {
            padding: 8px 20px;
          }
        }
        &-wrapper {
          .button {
            margin-right: 5px;
            &.uniq {
              padding: 8px 20px;
            }
          }
        }
      }
    }
  }
}
