// 1450px
@include xxxxlg-xxxxxlg {
    // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
    @include intro-xxxlg-xxxxlg;
}
// 1250px
@include xlg-xxlg-extra {
    @include intro-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
    @include intro-xlg-xxlg;
    @include info-xlg-xxlg;
    @include nav-xlg-xxlg;

}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    .auto__container {
        padding: 0 30px;
    }
    .popup{
        right: 20px
    }
    @include intro-lg-xlg;
    @include nav-lg-xlg;
    @include header-lg-xlg;


}
// 930px
@include md-lg {
    .main{
        padding: 90px 0;
    }
    .popup{
        top: calc(100% - 13px);
        right: 0;
    }
    @include intro-md-lg;
    @include nav-md-lg;
    @include header-md-lg;


}
// 750px
@include sm-md {
    .auto__container {
        padding: 0 20px;
    }
    @include intro-sm-md;
    @include info-sm-md;

}
// 650px
@include sm-md-extra {
    @include intro-sm-md-extra;
    @include info-sm-md-extra;

}
// 540px
@include xsm-sm  {
    .main{
        padding: 80px 0 90px ;
    }
    .popup{
        top: 100%;
    }
    @include intro-xsm-sm;
    @include info-xsm-sm;
    @include header-xsm-sm;
    @include nav-xsm-sm;


}
// 440px
@include xxsm-xsm  {
    .main {
        &__bg {
            &.index {
                display: none
            }
            &.home {
                display: none
            }
        }
    }
    .popup{
        padding: 20px;
        width: 320px;
    }
    @include intro-xxsm-xsm;
    @include info-xxsm-xsm;

}
// 390px
@include xxxsm-xxsm  {
    // @include hero-xxxsm-xxsm;
}

