.list {
  &__inner {
    &-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .button {
        &.uniq {
          font-size: 10px;
          line-height: 11px;
          padding: 8.5px 32.5px;
          border-radius: 11px;
          &:last-child {
            padding: 8.5px 27px;
          }
        }
        &.active {
          background-color: $main;
          color: $white;
        }
      }
      &-wrapper {
        display: flex;
        .button {
          margin-right: 10px;
          &:last-child {
            margin-right: unset;
          }
        }
      }
    }
  }
}
